pkgbase = lidarr-develop
	pkgdesc = Music collection manager for newsgroup and torrent users (develop branch)
	pkgver = 2.8.0.4431
	pkgrel = 3
	url = https://lidarr.audio
	install = lidarr.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	groups = servarr-develop
	license = GPL-3.0-or-later
	makedepends = dotnet-sdk-6.0
	makedepends = yarn
	depends = aspnet-runtime-6.0
	depends = chromaprint
	depends = gcc-libs
	depends = glibc
	depends = sqlite
	optdepends = postgresql: postgresql database
	optdepends = sabnzbd: usenet downloader
	optdepends = nzbget: usenet downloader
	optdepends = qbittorrent: torrent downloader
	optdepends = deluge: torrent downloader
	optdepends = rtorrent: torrent downloader
	optdepends = nodejs-flood: torrent downloader
	optdepends = vuze: torrent downloader
	optdepends = aria2: torrent downloader
	optdepends = transmission-cli: torrent downloader (CLI and daemon)
	optdepends = transmission-gtk: torrent downloader (GTK+)
	optdepends = transmission-qt: torrent downloader (Qt)
	optdepends = jackett: torrent indexer proxy
	optdepends = nzbhydra2: torznab and usenet indexer proxy
	optdepends = prowlarr: torrent and usenet indexer proxy
	optdepends = autobrr: irc, torrent and usenet indexer proxy
	provides = lidarr
	conflicts = lidarr
	options = !debug
	source = lidarr-develop-2.8.0.4431.tar.gz::https://github.com/Lidarr/Lidarr/archive/refs/tags/v2.8.0.4431.tar.gz
	source = package_info
	source = lidarr.service
	source = lidarr.sysusers
	source = lidarr.tmpfiles
	source = lidarr.install
	sha256sums = a68b71f978d81856393dc26940b2d5e01e9bbb11a60dd99c3b923bca2d4e9f67
	sha256sums = ea7786c48dce48db0ecfe2feace923d122981f6af86a01985c3662a76153a620
	sha256sums = 1a542d493eafbd28ac268c5f9ef29688ffa6e9326436d2ef05eb66413c18a082
	sha256sums = cd3eac6e50c421460b6215b0a6322374a0cc190fb841fddad4b196a759fc00d6
	sha256sums = d71e37213ac65722e42f6f2c5772d4515c2d28a77b9f7608dc05c787d86ebaa5
	sha256sums = 2f3eeca41a77cec8e86a107365b34a29bf1fc2c5251173f7b200d81b318bca40

pkgname = lidarr-develop
