pkgbase = readarr-nightly-bin
	pkgdesc = Ebook and audiobook collection manager for newsgroup and torrent users (nightly builds)
	pkgver = 0.4.4.2666
	pkgrel = 2
	url = https://readarr.com
	install = readarr.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	groups = servarr-nightly-bin
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = sqlite
	optdepends = postgresql: postgresql database
	optdepends = sabnzbd: usenet downloader
	optdepends = nzbget: usenet downloader
	optdepends = qbittorrent: torrent downloader
	optdepends = deluge: torrent downloader
	optdepends = rtorrent: torrent downloader
	optdepends = nodejs-flood: torrent downloader
	optdepends = vuze: torrent downloader
	optdepends = aria2: torrent downloader
	optdepends = transmission-cli: torrent downloader (CLI and daemon)
	optdepends = transmission-gtk: torrent downloader (GTK+)
	optdepends = transmission-qt: torrent downloader (Qt)
	optdepends = jackett: torrent indexer proxy
	optdepends = nzbhydra2: torznab and usenet indexer proxy
	optdepends = prowlarr: torrent and usenet indexer proxy
	optdepends = autobrr: irc, torrent and usenet indexer proxy
	provides = readarr
	conflicts = readarr
	options = !debug
	source = readarr.service
	source = readarr.tmpfiles
	source = readarr.sysusers
	source = readarr.install
	source = package_info
	sha256sums = 4696e52bc1cd8b7860eeb1ffaefc4153c3bf27defd7e7e91da03ad8aa28aa3df
	sha256sums = a4cfdf882ab62dea54d85dfae4a633cf21bce597a19c3287d90c024e3ff399ce
	sha256sums = 2a3a67ccd03d85396d7c08e8c5ef530b31c6d847102b35af705b43c0714a4a3a
	sha256sums = 244ef89032a7af9fc22e9a9a600a3b9e407137c7d7d99ed227cafe2efb800a85
	sha256sums = 9b505e7e93a71c9d2fdc4689cf4a3cd691e3927b419cf5bb6e1aed43b5a91edc
	source_x86_64 = Readarr.nightly.0.4.4.2666.linux-core-x64.tar.gz::https://readarr.servarr.com/v1/update/nightly/updatefile?version=0.4.4.2666&os=linux&runtime=netcore&arch=x64
	sha256sums_x86_64 = 8f0ad79d869c3214043361696b908dedddc63481f36263802572fb939e825897
	source_aarch64 = Readarr.nightly.0.4.4.2666.linux-core-arm64.tar.gz::https://readarr.servarr.com/v1/update/nightly/updatefile?version=0.4.4.2666&os=linux&runtime=netcore&arch=arm64
	sha256sums_aarch64 = be68cfd81d30f242847119a8a4ae4d137e2cea0fe9ff723e028feab1ae61f042
	source_armv7h = Readarr.nightly.0.4.4.2666.linux-core-arm.tar.gz::https://readarr.servarr.com/v1/update/nightly/updatefile?version=0.4.4.2666&os=linux&runtime=netcore&arch=arm
	sha256sums_armv7h = 5af957a64020b3c6e551e7aa3438ed4677eaa3a1ca911ce2c557d2d0b713090e

pkgname = readarr-nightly-bin
