pkgbase = radarr-nightly-bin
	pkgdesc = Movie organizer/manager for usenet and torrent users (nightly builds)
	pkgver = 5.15.0.9401
	pkgrel = 1
	url = https://radarr.video
	arch = x86_64
	arch = aarch64
	arch = armv7h
	groups = servarr-nightly-bin
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = sqlite
	depends = ffmpeg
	optdepends = postgresql: postgresql database
	optdepends = sabnzbd: usenet downloader
	optdepends = nzbget: usenet downloader
	optdepends = qbittorrent: torrent downloader
	optdepends = deluge: torrent downloader
	optdepends = rtorrent: torrent downloader
	optdepends = nodejs-flood: torrent downloader
	optdepends = vuze: torrent downloader
	optdepends = aria2: torrent downloader
	optdepends = transmission-cli: torrent downloader (CLI and daemon)
	optdepends = transmission-gtk: torrent downloader (GTK+)
	optdepends = transmission-qt: torrent downloader (Qt)
	optdepends = jackett: torrent indexer proxy
	optdepends = nzbhydra2: torznab and usenet indexer proxy
	optdepends = prowlarr: torrent and usenet indexer proxy
	optdepends = autobrr: irc, torrent and usenet indexer proxy
	provides = radarr
	conflicts = radarr
	options = !debug
	source = radarr.service
	source = radarr.tmpfiles
	source = radarr.sysusers
	source = package_info
	sha256sums = 8cc28b46c7e5e2fa129e1fdc358eca7ca7fd09b5e99506bafdcf88c392f9b889
	sha256sums = 8e9b537e76e936d079968fd3e0fd0d19364be193fa39ea9f259c62d3608fca4c
	sha256sums = bb73e0c55711d7ddbf74140b3beb39cb8674ae92be8387c3dd8109bcd53faca8
	sha256sums = e7d22110337234a9d5ce1ea0f65d0dcd7c76e339c61da77c33b80218638d5c3a
	source_x86_64 = Radarr.nightly.5.15.0.9401.linux-core-x64.tar.gz::https://radarr.servarr.com/v1/update/nightly/updatefile?version=5.15.0.9401&os=linux&runtime=netcore&arch=x64
	sha256sums_x86_64 = 3e3e00a05c24e64b494fbbb6b71abf52fa5afde44d610e61ba3a0b8be9652a1f
	source_aarch64 = Radarr.nightly.5.15.0.9401.linux-core-arm64.tar.gz::https://radarr.servarr.com/v1/update/nightly/updatefile?version=5.15.0.9401&os=linux&runtime=netcore&arch=arm64
	sha256sums_aarch64 = be6cbc530dc1ab6c4d40de8a564c6730487fa56ad48df005400eb7122840c86f
	source_armv7h = Radarr.nightly.5.15.0.9401.linux-core-arm.tar.gz::https://radarr.servarr.com/v1/update/nightly/updatefile?version=5.15.0.9401&os=linux&runtime=netcore&arch=arm
	sha256sums_armv7h = 641314fe19ce4d417a051dd453c5ae0fefe01d585d5b08f0fd7c99e69d7d9f9e

pkgname = radarr-nightly-bin
