pkgbase = readarr-develop-bin
	pkgdesc = Ebook and audiobook collection manager for newsgroup and torrent users (develop branch)
	pkgver = 0.4.12.2753
	pkgrel = 1
	url = https://readarr.com
	install = readarr.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	groups = servarr-develop-bin
	license = GPL-3.0-or-later
	depends = gcc-libs
	depends = glibc
	depends = sqlite
	depends = zlib
	optdepends = postgresql: postgresql database
	optdepends = sabnzbd: usenet downloader
	optdepends = nzbget: usenet downloader
	optdepends = qbittorrent: torrent downloader
	optdepends = deluge: torrent downloader
	optdepends = rtorrent: torrent downloader
	optdepends = nodejs-flood: torrent downloader
	optdepends = vuze: torrent downloader
	optdepends = aria2: torrent downloader
	optdepends = transmission-cli: torrent downloader (CLI and daemon)
	optdepends = transmission-gtk: torrent downloader (GTK+)
	optdepends = transmission-qt: torrent downloader (Qt)
	optdepends = jackett: torrent indexer proxy
	optdepends = nzbhydra2: torznab and usenet indexer proxy
	optdepends = prowlarr: torrent and usenet indexer proxy
	optdepends = autobrr: irc, torrent and usenet indexer proxy
	provides = readarr
	conflicts = readarr
	options = !debug
	source = package_info
	source = readarr.service
	source = readarr.sysusers
	source = readarr.tmpfiles
	sha256sums = c53f8d84eea20eb57f4fa200d18ccfee7ddac57e087f3ef00efb8e22862c9dde
	sha256sums = d8111e48780aa7417f43b3d6d1a447be2b3c574542f615fad2bf39b57b4ec871
	sha256sums = fcfa28c1be4f67cfa641dc6076780ee07ab973e55bf676174315e417f73003ad
	sha256sums = a4cfdf882ab62dea54d85dfae4a633cf21bce597a19c3287d90c024e3ff399ce
	source_x86_64 = Readarr.develop.0.4.12.2753.linux-core-x64.tar.gz::https://readarr.servarr.com/v1/update/develop/updatefile?version=0.4.12.2753&os=linux&runtime=netcore&arch=x64
	sha256sums_x86_64 = 96920d94f3992fb74cc6bc7398fafa3b8c8ada42bd8ab4d0ee02fae31051d06d
	source_aarch64 = Readarr.develop.0.4.12.2753.linux-core-arm64.tar.gz::https://readarr.servarr.com/v1/update/develop/updatefile?version=0.4.12.2753&os=linux&runtime=netcore&arch=arm64
	sha256sums_aarch64 = ae7d09f77c29c06373f706df5516b63ff4a3f98acdd0478a84319d025a736401
	source_armv7h = Readarr.develop.0.4.12.2753.linux-core-arm.tar.gz::https://readarr.servarr.com/v1/update/develop/updatefile?version=0.4.12.2753&os=linux&runtime=netcore&arch=arm
	sha256sums_armv7h = b8194d1578808c4867ddd25f7cfae6f205d7e1cdcb51444646106292e4386eb0

pkgname = readarr-develop-bin
