pkgbase = lidarr-nightly-bin
	pkgdesc = Music collection manager for newsgroup and torrent users (nightly builds)
	pkgver = 2.8.1.4445
	pkgrel = 3
	url = https://lidarr.audio
	install = lidarr.install
	arch = x86_64
	arch = aarch64
	arch = armv7h
	groups = servarr-nightly-bin
	license = GPL-3.0-or-later
	depends = chromaprint
	depends = gcc-libs
	depends = glibc
	depends = zlib
	depends = sqlite
	optdepends = postgresql: postgresql database
	optdepends = sabnzbd: usenet downloader
	optdepends = nzbget: usenet downloader
	optdepends = qbittorrent: torrent downloader
	optdepends = deluge: torrent downloader
	optdepends = rtorrent: torrent downloader
	optdepends = nodejs-flood: torrent downloader
	optdepends = vuze: torrent downloader
	optdepends = aria2: torrent downloader
	optdepends = transmission-cli: torrent downloader (CLI and daemon)
	optdepends = transmission-gtk: torrent downloader (GTK+)
	optdepends = transmission-qt: torrent downloader (Qt)
	optdepends = jackett: torrent indexer proxy
	optdepends = nzbhydra2: torznab and usenet indexer proxy
	optdepends = prowlarr: torrent and usenet indexer proxy
	optdepends = autobrr: irc, torrent and usenet indexer proxy
	provides = lidarr
	conflicts = lidarr
	options = !debug
	source = lidarr.service
	source = lidarr.tmpfiles
	source = lidarr.sysusers
	source = lidarr.install
	source = package_info
	sha256sums = 1a542d493eafbd28ac268c5f9ef29688ffa6e9326436d2ef05eb66413c18a082
	sha256sums = d71e37213ac65722e42f6f2c5772d4515c2d28a77b9f7608dc05c787d86ebaa5
	sha256sums = cd3eac6e50c421460b6215b0a6322374a0cc190fb841fddad4b196a759fc00d6
	sha256sums = 2f3eeca41a77cec8e86a107365b34a29bf1fc2c5251173f7b200d81b318bca40
	sha256sums = 90a1960fef0d3833cd3635cedd16af3ee9ae6c7b95babc3021f6031d4e44c200
	source_x86_64 = Lidarr.nightly.2.8.1.4445.linux-core-x64.tar.gz::https://lidarr.servarr.com/v1/update/nightly/updatefile?version=2.8.1.4445&os=linux&runtime=netcore&arch=x64
	sha256sums_x86_64 = 4226e1d769c652bc779cf670a50804d216de04e2ccf204c13515f2d6f303d886
	source_aarch64 = Lidarr.nightly.2.8.1.4445.linux-core-arm64.tar.gz::https://lidarr.servarr.com/v1/update/nightly/updatefile?version=2.8.1.4445&os=linux&runtime=netcore&arch=arm64
	sha256sums_aarch64 = a3de62e4077783d7b57a4462e181c6b9d8b7f4d1e33459085e0b2c523714f7ab
	source_armv7h = Lidarr.nightly.2.8.1.4445.linux-core-arm.tar.gz::https://lidarr.servarr.com/v1/update/nightly/updatefile?version=2.8.1.4445&os=linux&runtime=netcore&arch=arm
	sha256sums_armv7h = c01425929898f881ba0a6efe1c3e9f2b7f2057eae91bb12a65405dd41f4b3af9

pkgname = lidarr-nightly-bin
