[Unit]
Description=mylar3
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=mylar3
Group=media
UMask=002
ExecStart=/usr/bin/python /usr/lib/mylar3/Mylar.py --config /var/lib/mylar3/mylar3.ini --datadir /var/lib/mylar3 --nolaunch
Restart=on-failure
RestartSec=10
SyslogIdentifier=mylar3

[Install]
WantedBy=multi-user.target
