pkgbase = lunasea-bin
	pkgdesc = A fully-featured open-source self-hosted controller focused on giving you a seamless experience between all of your self-hosted media software remotely on your devices
	pkgver = 11.0.0
	pkgrel = 1
	url = https://www.lunasea.app
	arch = x86_64
	license = GPL-3.0-or-later
	depends = libepoxy
	depends = harfbuzz
	depends = fontconfig
	depends = gtk3
	depends = gcc-libs
	depends = at-spi2-core
	depends = gdk-pixbuf2
	depends = pango
	depends = glib2
	depends = cairo
	depends = glibc
	optdepends = sabnzbd: Usenet downloader
	optdepends = nzbget: Usenet downloader
	optdepends = sonarr: Smart PVR for newsgroup and torrent users
	optdepends = radarr: Movie organizer/manager for usenet and torrent users
	optdepends = lidarr: Music collection manager for newsgroup and torrent users
	optdepends = overseerr: Request management and media discovery tool for the Plex ecosystem
	optdepends = tautulli: A monitoring and tracking tool for Plex Media Server
	provides = lunasea
	conflicts = lunasea
	noextract = lunasea-bin-11.0.0.tar.gz
	options = !debug
	source = lunasea-bin-11.0.0.tar.gz::https://github.com/JagandeepBrar/lunasea/releases/download/v11.0.0/lunasea-linux-amd64.tar.gz
	sha256sums = d17d2bb1261ac3bdeb950fb1e9add9583e4f90e612933bb39d60bb90bebe1137

pkgname = lunasea-bin
